@use "../../styles/abstracts" as *;

.loading-spinner {
  @include flex-center;
  @include flex-column($spacing-md);
  padding: $spacing-xl 0;

  .spinner {
    border: 4px solid $color-border-primary;
    border-top-color: $color-accent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loading-message {
    @include text-body;
    color: $color-text-secondary;
    margin: 0;
  }

  &.small {
    padding: $spacing-md 0;

    .spinner {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }

    .loading-message {
      font-size: $font-size-sm;
    }
  }

  &.medium {
    .spinner {
      width: 48px;
      height: 48px;
    }
  }

  &.large {
    padding: $spacing-xxxl 0;

    .spinner {
      width: 64px;
      height: 64px;
      border-width: 6px;
    }

    .loading-message {
      font-size: $font-size-lg;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
